{% extends "newsportal/base.html" %}
{% load static %}
{% block content %}
<!-- Main Content Area -->
<div class="container mt-4">
  <img src="{{ post.featured_image.url }}" alt="">
  <h1 class="mb-4 section-title">
    <span>Posts tagged with "{{ tag.name }}"</span>
  </h1>

  <div class="row">
    <!-- News Listing Column -->
    <div class="col-lg-8">
      {% if posts %}
        {% for post in posts %}
          {% include "newsportal/list/left/post_list.html" %}
        {% endfor %}
        {% include "newsportal/list/left/pagination.html" %}
      {% else %}
        <p>No posts available for this tag.</p>
      {% endif %}
    </div>

    <!-- Sidebar (Reused Structure) -->
    <div class="col-lg-4">
      <div class="position-sticky sticky-sidebar-offset">
        {% include "newsportal/home/right/most_popular.html" %}
        {% include "newsportal/home/right/advertisement.html" %}
        {% include "newsportal/home/right/newsletter.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
